
@-webkit-keyframes glowing {
  0% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
  50% { background-color: #36b9cc; -webkit-box-shadow: 0 0 9px #36b9cc; }
  100% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
}

@-moz-keyframes glowing {
  0% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
  50% { background-color: #36b9cc; -webkit-box-shadow: 0 0 9px #36b9cc; }
  100% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
}

@-o-keyframes glowing {
  0% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
  50% { background-color: #36b9cc; -webkit-box-shadow: 0 0 9px #36b9cc; }
  100% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
}

@keyframes glowing {
  0% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
  50% { background-color: #36b9cc; -webkit-box-shadow: 0 0 9px #36b9cc; }
  100% { background-color: #169b6b; -webkit-box-shadow: 0 0 3px #169b6b; }
}
.glowing{
  -webkit-animation: glowing 1s infinite;
  -moz-animation: glowing 1s infinite;
  -o-animation: glowing 1s infinite;
  animation: glowing 1s infinite;
}