<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['']">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fa fa-heart"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{app.info.name}}</div>
      </a>
      
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <div *ngFor="let navigation of navigator">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['']">
          <i [class]=""></i>
          <span>Dashboard</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      </div>
      <li class="nav-item">
        
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-square"></i>
          <span>Rooms</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Rooms &amp; Quota Setup</h6>
            <a class="collapse-item" >Setup Daily Quota</a>
            <a class="collapse-item" >Rooms Type</a>
            <a class="collapse-item" >Rooms Quota</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-user"></i>
          <span>Individual</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Bookings</h6>
            <a class="collapse-item" >Transactions</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-users"></i>
          <span>Group</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Bookings</h6>
            <a class="collapse-item" >Transactions</a>
          </div>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>